@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #353535;
    margin: 0px
}
#topnav {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.666);
    align-items: center;
    display: flex;
}
#topnav p {
    margin: 10px;
    min-width: fit-content;
}
#topnav a {
    width: auto;
    height: auto;
    margin: 10px;
}
#topnav a:hover {
    cursor: pointer;
}
#screen {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40px
}
#obligatory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#optative {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    flex-grow: 0;
    background: #000000;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p {
    padding-right:5px;
}
.space {
    flex-grow: 1;
}
.component {
    width: 150px;
    height: 110px;
    border-radius: 5px;
    background-color: gray;
    transition: 0.25s;
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
}
.component p {
    margin: 5px;
    background-color: #444444;
}
.component a {
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}
.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.status p {
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: #444444;
}
.status p:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.status .aprov {
    background-color: #40aa40;
}
.status .reprov {
    background-color: #cc4040;
}
