@import url('https://fonts.googleapis.com/css?family=Montserrat');
h3 {
    margin-bottom: 0px;
}
h5 {
    margin-top: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #353535;
    margin: 0px
}
#topnav {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.666);
    align-items: center;
    display: flex;
}
#topnav p {
    margin: 10px;
    min-width: fit-content;
}
#topnav a {
    width: auto;
    height: auto;
    margin: 10px;
    color: white;
    text-decoration: none;
}
#topnav a:hover {
    cursor: pointer;
}
#screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40px
}
#obligatory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#optative {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#simulate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    flex-grow: 0;
    background: #000000;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p {
    padding-right:5px;
}
.space {
    flex-grow: 1;
}
.component {
    width: 150px;
    height: 110px;
    border-radius: 5px;
    background-color: gray;
    transition: 0.25s;
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
}
.component p {
    margin: 5px;
    background-color: #444444;
}
.component a {
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}
.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.status p {
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: #444444;
}
.status p:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.status .aprov {
    background-color: #40aa40;
}
.status .reprov {
    background-color: #cc4040;
}
.status .subst {
    background-color: #aa9a40;
}

.classes {
    background-color: gray;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
}

.search {
    display: flex;
    margin: 5px;
    border-radius: 5px;
    background-color: #444444;
    width: 300px;
}

.search input {
    color: #FFFFFF;
    padding: 0px 10px 0px 10px;
    font-size: medium;
    width: 100%;
    background-color: #444444;
    border-radius: 5px;
    border:0;
    outline:0;
}

.search svg {
    transform: scale(0.5);
}

.classes input:focus {
    outline: none!important;
}

#classes::-webkit-scrollbar {
    display: none;
}
#classes {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    height: 600px;
    max-height: 600px;
}
#classes .component {
    min-height: 110px;
    height: fit-content;
    background-color: #121212;
}
#classes .component a {
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    overflow: visible;
}
.hour {
    width: 100px;
}
.component .obrig {
    background-color: rgb(114, 0, 0);
}
.component .optat {
    background-color: rgb(158, 103, 0);
}
.large {
    width: 300px;
}
.table {
    background-color: gray;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
}
.mirror {
    display: flex;
    flex-direction: row;
}
.mirror .list {
    display: flex;
    flex-direction: column;
}
td, th {
    width: 100px;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: #444444;
}
  
tr:nth-child(even){
    background-color: #353535;
}

th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #121212;
    border-radius: 5px;
    color: white;
}